{
  "baseurl": "{{ pbs_baseurl }}",
  "certfingerprint": "{{ pbs_fingerprint }}",
  "authid": "{{ pbs_authid }}",
  "secret": "{{ pbs_secret }}",
  "datastore": "{{ pbs_datastore }}",
  "namespace": "{{ pbs_namespace }}",
  "backup-id": "{{ inventory_hostname }}",
  "backupdir": "{{ backup_dir }}",
  "usevss": true
}
